// used to name infrastructure (CHANGE THIS)
name = "mirantis"
aws = {
  region = "us-east-1"
}

subnets = {
  "AMain" = {
    cidr       = "172.31.0.0/17"
    nodegroups = ["AMngr"]
    private    = false
  }
  "AWorkers" = {
    cidr       = "172.31.128.0/17"
    nodegroups = ["AWrk_Ubu22"]
    private    = false
  }
}

// configure the network stack
network = {
  # private_subnet_count = 0 // if 0 then no private nodegroups allowed
  enable_vpn_gateway = false
  enable_nat_gateway = false
  cidr               = "172.31.0.0/16"
}

// one definition for each group of machines to include in the stack
nodegroups = {
  "AMngr" = { // managers for A group
    platform    = "ubuntu_22.04"
    count       = 1
    type        = "t3.large"
    volume_size = 100
    role        = "controller+worker"
    public      = true
    user_data   = ""
  },
  "AWrk_Ubu22" = { // workers for A group
    platform    = "ubuntu_22.04"
    count       = 3
    type        = "t3.large"
    volume_size = 100
    public      = true
    role        = "worker"
    user_data   = ""
  }
}
